#banner.style1:after {
  background-color: #85ffbe;
}

#banner.style2:after {
  background-color: #37a6cb;
}

#banner.style3:after {
  background-color: #431b44;
}

#banner.style4:after {
  background-color: #e98679;
}

#banner.style5:after {
  background-color: #eba561;
}

#banner.style6:after {
  background-color: #85a2e5;
}

#banner:after {
    			background-color: ##ddae827d;
    			opacity: 0.50;

    		}


        #main.alt {
          background-color: #8aa7d1;
          border-bottom: solid 1px rgba(212, 212, 255, 0.1);
        }
